@charset "ISO-8859-1";
.bg-img{
	background-image:th src="@{images/street.jpg}";
	min-height:300px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	
	
}